<div class="container">
  <h1>Players</h1>

  <table style="width:100%" class="table table-sm table-hover">
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Handicap</th>
      <th>Location</th>
      <th>View</th>
      <% if current_user && current_user.admin %>
        <th>Edit</th>
        <th>Details</th>
      <% end %>
    </tr>
    <tr>
      <% @profiles.each do |profile| %>
        <%# <%= render partial: 'user', locals: { user: user } %>
          <td> <%= profile.first_name %>  <%= profile.last_name %> </td>
          <td> <%= profile.phone %> </td>
          <td> <%= profile.handicap %> </td>
          <td> <%= profile.location.name %> </td>
          <td> <%= link_to "View", profile_path(profile), class: "btn btn-sm btn-outline-primary" %> </td>
          <% if current_user && current_user.admin %>
          <td> <%= link_to "Edit", edit_profile_path(profile), class: "btn btn-sm btn-outline-warning" %></td>
          <td> <%= link_to "Delete", profile_path(profile), method: :delete, class: "btn btn-sm btn-outline-danger" %></td>
          <% end %>
    </tr>
  <% end %>
  </table>
</div>
