<div class="container">
<h1>Profile</h1>

<div class="row">
  <div class="card col-sm-4" >
    <%# <img class="card-img-top" src=".../100px180/" alt="Card image cap"> %>
    <div class="card-body">
      <%# <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a> %>
    </div>
  </div>
  <div class="col-sm-4">
    <%# <div class="card"> %>
      <div class="card-body">
        <h5 class="card-title">Player Details</h5>
          <strong>Name:</strong> <%= @profile.first_name %>  <%= @profile.last_name %> <br>
          <strong>Phone:</strong> <%= @profile.phone %> <br>
          <strong>Email:</strong> <%= @profile.user.email %> <br>
          <strong>Handicap:</strong> <%= @profile.handicap %> <br>
          <strong>Location:</strong> <%= @profile.location.name %> <br><br>
          <%= link_to "Back", :back, class: "btn btn-outline-secondary" %>
          <%= link_to "Edit", edit_profile_path(@profile), class: "btn btn-outline-warning" %>
          <%= link_to "Delete", profile_path(@profile), method: :delete, class: "btn btn-outline-danger" %>
        <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
      </div>
    <%# </div> %>
  </div>
  <div class="col-sm-4">
    <%# <div class="card"> %>
      <div class="card-body">
        <h5 class="card-title">Player Stats</h5>
          <strong>Total Wins:</strong> <%= "#{ @totalWins }" %> <br>

          <strong>Total Losses:</strong> <%= "#{ @totalLosses }" %> <br>

          <strong>Total Points:</strong> <%= "#{ @totalPoints }" %> <br><br>
      </div>
    </div>
  <%# </div> %>
</div>

<br>

<div class="container"></div>
  <table style="width:100%" class="table table-hover">
    <tr>
      <th>Match Date</th>
      <th>Location</th>
      <th>Format</th>
      <th>Match Type</th>
      <th>Player 1</th>
      <th>Player 2</th>
      <th>P1 Result</th>
      <th>P2 Result</th>
      <th>View</th>
      <th>Edit</th>
      <th>Details</th>
    </tr>
    <tr>
      <% @matches.each do |match| %>
        <%# <%= render partial: 'user', locals: { user: user } %>
      <%# <div class="row" > %>
          <td> <%= match.match_date %> </td>
          <td> <%= match.location.name %> </td>
          <td> <%= match.match_format %> </td>
          <td> <%= match.match_type %> </td>
          <td> <%= Profile.find(match.player1).full_name %> </td>
          <td> <%= Profile.find(match.player2).full_name %> </td>
          <td> <%= match.p1_result%> </td>
          <td> <%= match.p2_result%> </td>
          <td> <%= link_to "View", match_path(match), class: "btn btn-outline-primary" %> </td>
          <td> <%= link_to "Edit", edit_match_path(match), class: "btn btn-outline-warning" %> </td>
          <td> <%= link_to "Delete", match_path(match), method: :delete, class: "btn btn-outline-danger" %> </td>
        <%# </div> %>
    </tr>
  <% end %>
  </table>
</div>