<div class="container">
  <h1>Locations</h1>

  <table style="width:100%" class="table table-sm table-hover">
    <tr>
      <th>Name</th>
      <th>Address</th> 
      <th>Phone</th>
      <th>Match Night</th>
      <th>View</th>
      <% if current_user && current_user.admin %>
        <th>Edit</th>
        <th>Details</th>
      <% end %>
    </tr>
    <tr>
      <% @locations.each do |location| %>
        <%# <%= render partial: 'user', locals: { user: user } %>
      <%# <div class="row" > %>
          <td> <%= location.name %> </td>
          <td> <%= location.address %> </td>
          <td> <%= location.phone %> </td>
          <td> <%= location.match_day %> </td>
          <td> <%= link_to "View", location_path(location), class: "btn btn-sm btn-outline-primary" %> </td>
          <% if current_user && current_user.admin %>
            <td> <%= link_to "Edit", edit_location_path(location), class: "btn btn-outline-warning" %></td>
            <td> <%= link_to "Delete", location_path(location), method: :delete, class: "btn btn-outline-danger" %> </td>
          <% end %>
    </tr>
  <% end %>
  </table>
</div>

